.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;

  .linkBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;

    .block {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 170px;
      border-radius: 50px;
      margin-bottom: 17px;
      box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.15);
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

      .icon {
        width: 100px;
      }
    }

    .text {
      transition: transform 0.3s ease;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:hover .block {
      transform: scale(1.1);
      box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.1),
        0 16px 32px rgba(0, 0, 0, 0.15);
    }

    &:hover .text {
      transform: scale(1.1);
    }
  }
}
