.sidebarContainer {
  display: flex;
  align-items: center;
  gap: 0;
  transition: all 0.3s ease-in-out;

  .sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 170px;
    height: 100vh;
    padding: 20px;
    margin-left: -170px;
    background: white;
    z-index: 1000;
    transition: all 0.3s ease-in-out;

    .categoryBlock {
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      width: 90%;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background: #e3e3f3;
      }

      img {
        width: 50px;
        margin-bottom: 15px;
      }

      &.active {
        background: #e3e3f3;
      }
    }
  }

  .sidebarActive {
    margin-left: 0;
  }

  .buttonOpen {
    cursor: pointer;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 120px;
    height: 35px;
    background: #65749e;
    transform: rotate(-90deg);
    border-radius: 5px;
    margin: -50px;
    padding-bottom: 5px;
    color: white;
    box-shadow: 0 3px 15px #65749e;
  }
}